### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [552]:
import pandas as pd
import numpy as np
import os

path = os.path.join("Resources","purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(path)

## Player Count

* Display the total number of players

In [553]:
unique_players =[len(df["SN"].unique())]

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [554]:
unique_items =[len(df["Item ID"].unique())]

In [555]:
average_purchases = df["Price"].mean().round(2)

In [556]:
total_purchases = df["Price"].count()

In [557]:
total_revenue = df["Price"].sum()

In [558]:
purchasing_analysis= pd.DataFrame({"Number of Unique Items": unique_items, "Average of Purchases": average_purchases,"Number of Purchases" : total_purchases, "Total Revenue" : total_revenue })
purchasing_analysis["Average of Purchases"]= purchasing_analysis["Average of Purchases"].map("${:,.2f}".format)
purchasing_analysis["Total Revenue"]= purchasing_analysis["Total Revenue"].map("${:,.2f}".format)
purchasing_analysis

,Number of Unique Items,Average of Purchases,Number of Purchases,Total Revenue
0,183,$3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [559]:
player_demographics = df.loc[:, ["Gender", "SN", "Age"]]

In [560]:
player_demographics = player_demographics.drop_duplicates()

In [568]:
gender_total = player_demographics["Gender"].value_counts()
gender_percent = gender_total/unique_players

In [569]:
gender_demographics = pd.DataFrame({"Total Count": gender_total, "Percentage of Players": gender_percent})
gender_demographics['Percentage of Players'] = gender_demographics['Percentage of Players'].map("{:,.2%}".format)
gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [570]:
purchase_count = df.groupby(["Gender"]).count()["Price"]

In [571]:
average_price = df.groupby(["Gender"]).mean()["Price"]

In [572]:
total_purchase = df.groupby(["Gender"]).sum()["Price"]

In [573]:
purchase_per_person = purchase_value/gender_demographics["Total Count"]

In [574]:
purchase_analysis = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": average_price,"Total Purchase Value": purchase_value, "Avg Total Purchase per Person": purchase_per_person})
purchase_analysis["Average Purchase Price"]= purchase_analysis["Average Purchase Price"].map("${:,.2f}".format)
purchase_analysis["Avg Total Purchase per Person"]= purchase_analysis["Avg Total Purchase per Person"].map("${:,.2f}".format)
purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,361.94,$4.47
Male,652,$3.02,1967.64,$4.07
Other / Non-Disclosed,15,$3.35,50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [579]:
bins = pd.cut(player_demographics["Age"],bins=[0,10,15,20,25,30,35,40,500], labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"], right = False)
bins

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
773    20-24
774    10-14
775    20-24
777    20-24
778      <10
Name: Age, Length: 576, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [580]:
age_groups = bins.value_counts()

In [581]:
age_percentage = age_groups/unique_players

In [582]:
age_demographics = pd.DataFrame({"Total Count": age_groups, "Percentage of Players": age_percentage}).sort_index()
age_demographics["Percentage of Players"]=age_demographics["Percentage of Players"].map("{:,.2%}".format)
age_demographics

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [640]:
bins_all = pd.cut(df["Age"],bins=[0,10,15,20,25,30,35,40,500], labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"], right = False)
bins

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
773    20-24
774    10-14
775    20-24
777    20-24
778      <10
Name: Age, Length: 576, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [641]:
df= df.assign(Age_Group = bins_all)

In [642]:
purchase_num_by_age = df.groupby(["Age_Group"]).count()["Purchase ID"]

In [643]:
avg_purchase_price = df.groupby(["Age_Group"]).mean()["Price"]

In [645]:
purchase_value_by_age = df.groupby(["Age_Group"]).sum()["Price"]

In [646]:
avg_purchase_by_age = df.groupby(["Age_Group"]).sum()["Price"]/age_groups

In [652]:
age_analysis= pd.DataFrame({"Purchase Count":purchase_num_by_age,"Average Purchase Price": avg_purchase_price,"Total Purchase Value" : purchase_value_by_age, "Avg Total Purchase per Person" : avg_purchase_by_age})
age_analysis["Average Purchase Price"]= age_analysis["Average Purchase Price"].map("${:,.2f}".format)
age_analysis["Total Purchase Value"]= age_analysis["Total Purchase Value"].map("${:,.2f}".format)
age_analysis["Avg Total Purchase per Person"]= age_analysis["Avg Total Purchase per Person"].map("${:,.2f}".format)
age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [666]:
purchase_num = df.groupby(["SN"]).count()["Purchase ID"]

In [667]:
avg_price = df.groupby(["SN"]).mean()["Price"]

In [668]:
purchase_val = df.groupby(["SN"]).sum()["Price"]

In [669]:
top_spenders= pd.DataFrame({"Purchase Count":purchase_num,"Average Purchase Price": avg_price,"Total Purchase Value" : purchase_val}).sort_values("Total Purchase Value", ascending = False).head(5)
top_spenders["Average Purchase Price"]= top_spenders["Average Purchase Price"].map("${:,.2f}".format)
top_spenders["Total Purchase Value"]= top_spenders["Total Purchase Value"].map("${:,.2f}".format)
top_spenders

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [710]:
most_popular = df.loc[:, ["Item ID", "Item Name", "Price"]]

In [692]:
purchase_cnt = df.groupby(["Item ID","Item Name"]).count()["Purchase ID"]

In [704]:
item_price = df.groupby(["Item ID","Item Name"]).sum()["Price"]/purchase_cnt

In [705]:
tot_purchase_val = df.groupby(["Item ID","Item Name"]).sum()["Price"]

In [708]:
popular_items= pd.DataFrame({"Purchase Count":purchase_cnt,"Item Price": item_price,"Total Purchase Value" : tot_purchase_val}).sort_values("Purchase Count", ascending = False).head(5)
popular_items["Item Price"]= popular_items["Item Price"].map("${:,.2f}".format)
popular_items["Total Purchase Value"]= popular_items["Total Purchase Value"].map("${:,.2f}".format)
popular_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [709]:
popular_items= pd.DataFrame({"Purchase Count":purchase_cnt,"Item Price": item_price,"Total Purchase Value" : tot_purchase_val}).sort_values("Total Purchase Value", ascending = False).head(5)
popular_items["Item Price"]= popular_items["Item Price"].map("${:,.2f}".format)
popular_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
82,Nirvana,9,$4.90,44.10
145,Fiery Glass Crusader,9,$4.58,41.22
92,Final Critic,8,$4.88,39.04
103,Singed Scalpel,8,$4.35,34.80